body {
    background-color: #c0c0c0;
}

h1 {
    color: black;
    font-size: 2.55em;
}

main {
    width: 85%;
    margin: 0 auto;
}

.main table {
    width: 100%;
    background-color: #ddd;
}

table, td, th {
    font-size: 105%;
    border: 1px solid #888;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

caption {
    font-size: 165%;
}

.flag {
    height: 20px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: 700;
}

.gold {
    background-color: goldenrod;
}
.silver {
    background-color: silver;
}
.bronze {
    background-color: #cd7f32;
}

footer {
    opacity: 0.15;
}

@keyframes zoom-row {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes unzoom-row {
    from {
        transform: scale(1.05);
    }
    to {
        transform: scale(1);
    }
}

.main tbody tr {
    animation-name: unzoom-row;
    animation-duration: 1s;
}


.main tbody tr:hover {
    animation-name: zoom-row;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border: 1px;
}

.logo img {
    max-width: 250px;
    max-height: 250px;
    padding: 0px;
    margin: 0;
}
.logo {
    background-color: white;
}

.info table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
}

.info table {
    width: 100%;
}